#Add by GanFan
on init
    # pstore/ramoops previous console log
    mount pstore pstore /sys/fs/pstore
    chown system log /sys/fs/pstore/console-ramoops
    chmod 0440 /sys/fs/pstore/console-ramoops

on fs
    mkdir /devlog 0700 root root
    wait /dev/block/bootdevice/by-name/devlog
    e2fsck /dev/block/bootdevice/by-name/devlog
    mount ext4 /dev/block/bootdevice/by-name/devlog /devlog nosuid nodev barrier=1,errors=continue
    mkdir /devlog/recovery 0775 root root

    # create /cota and /preload folder for recovery binary to mount
    mkdir /cota 0771 root cw_access
    mkdir /preload 0771 root cw_access

 
on boot
#The default recovery is diabled in init.rc
    start recovery
    write /sys/class/android_usb/android0/f_ffs/on 1
    start adbd
    write /sys/class/android_usb/android0/f_adb/on 1
    setprop sys.usb.state ${sys.usb.config}



on property:sys.usb.config=mass_storage,adb
    write /sys/devices/platform/android_usb/usb_function_switch 3
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb
    write /sys/devices/platform/android_usb/usb_function_switch 130
    setprop sys.usb.state ${sys.usb.config}

service chargeled /sbin/chargeled
    disabled
    seclabel u:r:healthd:s0

service detect_key /sbin/detect_key
    disabled
    oneshot
    seclabel u:r:healthd:s0

service offmode_charging /sbin/offmode_charging
    disabled
    seclabel u:r:healthd:s0

#We have to enable 4 cores in twrp. because the when using 2 cores, it's very slow.
on post-fs
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed 960000
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_setspeed 960000
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_setspeed 960000
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_setspeed 960000
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0
    # Always start adbd on userdebug and eng builds
    write /sys/class/android_usb/android0/enable 1
    start adbd
    start chargeled
